@media only screen and (min-width: 320px) and (max-width: 900px) {
  .activeMenu {
    right: 0;
  }
  .inactiveMenu {
    right: -100%;
  }
}
.stickyHeader {
  background: rgba(255, 255, 255, 80%) !important;
  box-shadow: 0px 5px 10px rgba(129, 129, 129, 0.5) !important;
  animation-name: animatenav;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: 1s;
  position: fixed !important;
  z-index: 999;
  top: 0;
}
@keyframes animatenav {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
