@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* cmn css */
body,
html {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

span {
  display: inline-block;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
  transition: 0.5s !important;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

figure {
  margin: 0 0 0 0;
}

p {
  margin-bottom: 0px;
  padding: 0;
  font-family: "Lato", sans-serif !important;
}
h1,
h2,
h5 {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif !important;
}

h3,
h4,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  transition: 0.5s;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
  transition: 0.5s;
  font-family: "Lato", sans-serif !important;
}
.headingGradient {
  background: linear-gradient(90deg, #d94f04 0%, #732a02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bannerSliderArea {
  position: relative;
}
.bannerSliderArea .slick-slide {
  transform: scale(0.7);
  transition: all 0.5s ease-in-out;
}
.bannerSliderArea .slick-slide.slick-current {
  transform: scale(1) !important;
  transition: all 0.5s ease-in-out;
}
.CustomPrev {
  left: 37% !important;
}
.CustomNext {
  right: 37% !important;
}

.Review_slider_container .slick-prev,
.Review_slider_container .slick-next {
  top: auto !important;
  bottom: -100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 0;
  transform: translate(0);
  z-index: 1;
}
.Review_slider_container .slick-prev:hover,
.Review_slider_container .slick-next:hover {
  background: transparent !important;
}
.Review_slider_container .slick-dots {
  position: absolute;
  bottom: -83px;
}
.Review_slider_container .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1px solid #004d40;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.Review_slider_container .slick-dots li button:before {
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: #004d40;
  border-radius: 50%;
  content: "";
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
.Review_slider_container .slick-dots li.slick-active > button {
  scale: 1.7;
}
.Review_slider_container .slick-dots li.slick-active > button:before {
  top: 2px !important;
  left: 2px !important;
}
