/* responsive css */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .logo-sec-header {
    /* display: none; */
  }
  .open__nav__btn {
    display: inline-block;
  }
  .header-interi-inr .open__nav__btn {
    display: inline-block;
    margin-left: 15px;
  }
  .right-sec-header-cartfull-menus-desktop {
    position: fixed;
    right: -150%;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bluetype);
    z-index: 50;
    transition: 0.5s;
    padding: 40px 40px;
    opacity: 0;
    visibility: hidden;
  }
  .right-sec-header-cartfull-menus-desktop.active__navbar__open__nav {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .right-sec-header-cartfull-menus-desktop ul {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .right-sec-header-cartfull-menus-desktop li a {
    color: #fff;
  }

  .logo-sec-header.logoMob {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close__btn__navbar {
    transition: 0.9s;
    background: var(--greenColor1);
    border: 2px solid var(--white);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border-radius: 50% 50% 0% 50%;
    position: absolute;
    left: -13%;
  }

  .open__nav__btn {
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    background: var(--footerLink);
    border-radius: 2px;
    padding: 8px;
  }
  .right-full-menu-contact-sec-header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 85%;
    background: var(--darkGreen);
    top: 0;
    padding: 20px 30px;
    right: -100%;
    z-index: 999;
    transition: all 1s ease-in-out;
  }
  .right-full-menu-contact-sec-header.activeSidebar {
    right: 0;
  }

  .right-menubar-sec ul {
    display: grid;
  }
  .right-menubar-sec li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 0 !important;
  }
}

@media (max-width: 575px) {
  .btn-openheader-menu{
    margin-top: -60px;
  }
}